{%load static %}
<!DOCTYPE html>
  <html>
    <head>
      <title>Employee Registration</title>
      <link rel="stylesheet" type="text/css" href="{%static 'EmployeeData/css/style.css' %} " >
    </head>
    <body>
	<script src="{%static 'EmployeeData/validateEmpRegstForm.js' %}"></script>

	<div class="topnav">
				<a href="{%url 'logout'}"><font color="red">Log out</font></a>
			<a class="active" href="#home" name="user"> Log In : {{request.user.username }} </a>
		</div><br>
		
		
		<h2>Welcome</h2><br>

				<div class="input-group">
	<button type="button" class="btn" onclick="{% url 'EmpReg' %}">Create New Employee</button></div>
	<button type="button" class="btn"> Registered Employee Details</button>

    </body>`

  </html>